@model ActivityRecord


<br />
<br />
<br />
<br />
@*<form class="form-inline" action="">
        <div class="form-group">
            <label class="sr-only" for="setOne">Number of Repeatations:</label>
            <input type="number" class="form-control" id="setOne" placeholder="Enter repeatations">
            <input type="number" class="form-control" id="setTwo" placeholder="Enter repeatations">
            <input type="number" class="form-control" id="setThree" placeholder="Enter repeatations">
            <input type="number" class="form-control" id="setFour" placeholder="Enter repeatations">
            <input type="number" class="form-control" id="setFive" placeholder="Enter repeatations">
        </div>
        <div class="form-group">
            <label class="sr-only" for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>*@

<form>
    <div class="form-group row">
        <label for="setOne" class="col-sm-1 col-form-label">Set 1:</label>
        <div class="col-sm-2">
            <input type="number" min="0" max="100" class="form-control" id="setOne" placeholder="0">
        </div>
    </div>
    <div class="form-group row">
        <label for="setTwo" class="col-sm-1 col-form-label">Set 2:</label>
        <div class="col-sm-2">
            <input type="number" min="0" max="100" class="form-control" id="setTwo" placeholder="0">
        </div>
    </div>
    <div class="form-group row">
        <label for="setThree" class="col-sm-1 col-form-label">Set 3:</label>
        <div class="col-sm-2">
            <input type="number" min="0" max="100" class="form-control" id="setThree" placeholder="0">
        </div>
    </div>
    <div class="form-group row">
        <label for="setFour" class="col-sm-1 col-form-label">Set 4:</label>
        <div class="col-sm-2">
            <input type="number" min="0" max="100" class="form-control" id="setFour" placeholder="0">
        </div>
    </div>
    <div class="form-group row">
        <label for="setFive" class="col-sm-1 col-form-label">Set 5:</label>
        <div class="col-sm-2">
            <input type="number" min="0" max="100" class="form-control" id="setFive" placeholder="0">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
